::root {
	--primary-color: #212135;
	--secondary-color: #19b3b8;
}

body {
	background-color: #212135;
	display: grid;
	grid-auto-flow: row;
	align-items: center;
	justify-content: center;
	overflow: hidden;
	height: 100vh;
	width: 100vw;
}

#cps-main-btn {
	cursor: pointer;
	font-family: 'Fira Code', serif;
	font-size: 34px;
	line-height: 160px;
	padding: 0;
	display: grid;
	align-items: center;
	width: 160px;
	height: 160px;
	border: 0;
	border-radius: 100%;
	outline: none;
	color: #19b3b8;
	background-color: #2c2c42;
	box-shadow: 0px 0px 25px #19b3b810;
	transition: box-shadow 0.1s ease-in-out;
}
#cps-main-btn:active {
	box-shadow: 0 0 0 rgba( 51, 51, 51, 0.3 );
}
#time {
	color: #19b3b8;
	font-family: 'Fira Code', serif;
	font-size: 18px;
	pointer-events: none;
	margin: 0;
	padding: 0;
	text-align: center;
}
h1 {
	font-weight: 400;
	color: #19b3b8;
	font-family: 'Fira Code', serif;
	font-size: 32px;
	pointer-events: none;
	margin: 0;
	padding: 0;
	text-align: center;
}